<div class="">
  <p>
    Sergio Audel Ortiz Gutierrez is working really hard to biuld this site
    as good as posible.
  </p>
  <p>
    come back soon!
  </p>
  <p>
    Thank you!
  </p>
  <span>Sergio Audel Ortiz Gutierrez</span>
  <hr>
  <span>email:audel91@gmail.com</span>
</div>
{{#section 'jquery'}}
<script type="text/javascript">
  $('document').ready(function(){
    console.log('jquery Works')
  });
</script>
{{/section}}
